* {
  font-family: "Jetbrains Mono Nerdfont";
}

#waybar {
  background: #1a1b26;
  color: #fff;
}

#workspaces button {
  color: #787c99;
}

#workspaces button.active {
  color: #fff;
}

#workspaces button.special {
  color: #ad8ee6;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
  transition: none;
  color: #7aa2f7;
}

#window,
#network,
#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#clock {
  padding-left: 12px;
  padding-right: 12px;
}

#battery,
#cpu,
#temperature,
#memory {
  margin-right: 12px;
}

#tray,
#pulseaudio,
#network,
#clock {
  margin-left: 12px;
}
