* {
  font-family: "Jetbrains Mono Nerdfont";
}

#waybar {
  background: #1a1b26;
  color: #fff;
}

#workspaces button {
  color: #fff;
}

#workspaces button:hover {
  background: transparent;
}

#battery,
#pulseaudio,
#tray,
#workspaces {
  margin-left: 12px;
}

#temperature,
#memory,
#cpu,
#network {
  margin-right: 12px;
}

#window,
#network,
#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#clock {
  padding-left: 12px;
  padding-right: 12px;
}
