* {
  font-family: "Jetbrains Mono Nerdfont";
  font-weight: normal;
}

#waybar {
  background: transparent;
  color: #fff;
}

#workspaces button {
  color: rgba(255, 255, 255, 100);
}

#workspaces button:hover {
  background: transparent;
  border-radius: 100px;
}

#workspaces {
  background: #32344a;
  border-radius: 100px;
}

#network,
#tray,
#workspaces {
  margin-left: 12px;
}

#temperature,
#memory,
#cpu,
#pulseaudio,
#battery,
#clock {
  margin-right: 12px;
}

#window,
#network,
#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#clock {
  background: #32344a;
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
}
