* {
  font-family: "Jetbrains Mono Nerdfont";
  font-size: 17px;
  color: #fff;
}

#window,
#expander-box,
#input {
  background-color: #1a1b26;
}

#input {
  padding-top: 1rem;
  padding-bottom: 1rem;

  /* Remove the blue outline around the search bar */
  outline: none;
  border: none;
  box-shadow: none;
}

#entry {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
}

#entry:selected {
  background-color: #444b6a;
  outline: none;
}
